body {
  background-color: #003d5b;
  counter-reset: item 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

header {
  width: 100%;
  height: 100px;
  font-family: "Open Sans", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
}

li {
  display: inline;
  padding: 25px;
}

a {
  text-decoration: none;
  color: eff2f1;
}

#navlist {
  display: block;
  float: right;
  margin-top: 4%;
  margin-right: 2%;
}

#resume {
  font-family: "Quicksand", sans-serif;
  color: #eff2f1;
  background-color: transparent;
  border: 2px solid #edae49;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#smallName {
  font-size: 1.5vw;
  font-weight: 200;
  color: #edae49;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 20%;
  margin-left: 15%;
  line-height: 0.5;
  font-family: "Scope One", serif;
}

#name {
  font-size: 3vw;
  font-weight: 700;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 15%;
  line-height: 0.3;
  font-family: "Open Sans", sans-serif;
}

#title {
  font-size: 3vw;
  font-weight: 700;
  color: #edae49;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 15%;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
}

#jobDesc {
  font-size: 1vw;
  font-weight: 400;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 15%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 45%;
}

#shape {
  margin: 10px;
}

.content {
  grid-area: content;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25%;
  margin-bottom: 35%;
}

#aboutMe {
  margin-top: 35%;
  margin-bottom: 50%;
  grid-area: about;
}

#aboutMeH1 {
  font-size: 6vw;
  font-weight: 700;
  color: #eff2f1;
  text-decoration: none;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 0.3;
  font-family: "Open Sans", sans-serif;
}

#aboutMeH2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 45%;
  margin-top: 5%;
}

#stuff {
  margin-top: 35%;
  margin-bottom: 50%;
  grid-area: stuff;
}

#stuffH1 {
  font-size: 6vw;
  font-weight: 700;
  color: #eff2f1;
  text-decoration: none;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 0.3;
  font-family: "Open Sans", sans-serif;
}

#stuffH2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 45%;
  margin-top: 5%;
}

#work {
  margin-top: 35%;
  margin-bottom: 50%;
  grid-area: work;
}

#workH1 {
  font-size: 6vw;
  font-weight: 700;
  color: #eff2f1;
  text-decoration: none;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 0.3;
  font-family: "Open Sans", sans-serif;
}

#workH2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 45%;
  margin-top: 5%;
}

#contact {
  margin-top: 35%;
  grid-area: contact;
}

#contactH1 {
  font-size: 6vw;
  font-weight: 700;
  color: #eff2f1;
  text-decoration: none;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 0.3;
  font-family: "Open Sans", sans-serif;
}

#contactH2 {
  font-size: 1.5vw;
  font-weight: 400;
  color: #eff2f1;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 18%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 45%;
  margin-top: 5%;
}

footer {
  font-size: 1.5vw;
  font-weight: 400;
  color: #71728d;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 42%;
  line-height: 1.25;
  font-family: "Scope One", serif;
  width: 50%;
  margin-top: 50%;
}

rect {
  fill: transparent;
  stroke: #edae49;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

ol li a::before {
  counter-increment: 1;
  content: counter(item) ". ";
  counter-increment: item;
  margin-right: 5px;
  color: #edae49;
  font-size: 0.75rem;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}

#resume:hover {
  background-color: #edae49;
  color: #eff2f1;
}

#resume::before {
  content: none;
}

.nav {
  width: 100%;
  color: #eff2f1;
  font-family: "Quicksand", sans-serif;
  grid-area: nav;
  transition: transform 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: top 0.5s;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #003d5b;
  color: white;
  transition: top 0.3s;
}

nav.hidden {
  top: -150px;
  background-color: rgb(0, 61, 91, 1);
}

tspan {
  stroke: #eff2f1;
  fill: #eff2f1;
  font-size: 1.5rem;
}

#sidebarLeft {
  grid-area: sidebarLeft;
  text-align: end;
  position: fixed;
  height: 100%;
  color: #edae49;
  writing-mode: vertical-rl;
  bottom: 200px;
  left: 10px;
  margin: 1%;
}

#sidebarHR {
  position: fixed;
  writing-mode: vertical-lr;
  background-color: #edae49;
}

#emailVertLine {
  border-left: 1px solid #edae49;
  height: 170px;
  position: fixed;
  bottom: 0;
  left: 48px;
}

#sidebarRight {
  grid-area: sidebarRight;
  text-align: end;
  position: fixed;
  height: 100%;
  color: #edae49;
  writing-mode: vertical-rl;
  bottom: 200px;
  left: 93%;
}

#linksVertLine {
  border-left: 1px solid #edae49;
  height: 170px;
  position: fixed;
  bottom: 0;
  left: 94%;
}

.logos {
  filter: invert(30%) sepia(60%) saturate(448%) hue-rotate(348deg)
    brightness(95%) contrast(94%);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav"
    "sidebarLeft content content content sidebarRight"
    "sidebarLeft content content content sidebarRight"
    "sidebarLeft about about about sidebarRight"
    "sidebarLeft about about about sidebarRight"
    "sidebarLeft stuff stuff stuff sidebarRight"
    "sidebarLeft stuff stuff stuff sidebarRight"
    "sidebarLeft work work work sidebarRight"
    "sidebarLeft work work work sidebarRight"
    "sidebarLeft contact contact contact sidebarRight"
    "sidebarLeft contact contact contact sidebarRight";
}

@media screen and (max-width: 600px) {
  #sidebarLeft {
    display: none;
  }

  #sidebarRight {
    display: none;
  }

  #smallName {
    font-size: 3vw;
  }

  #name {
    font-size: 5vw;
  }

  #title {
    font-size: 5vw;
  }

  #jobDesc {
    font-size: 2vw;
    width: 75%;
  }

  .content {
    margin-top: 25%;
    grid-area: content;
  }

  #about {
    grid-area: about;
  }

  #aboutMeH1 {
    font-size: 10vw;
  }

  #aboutMeH2 {
    font-size: 3vw;
    width: 65%;
  }

  #stuff {
    grid-area: stuff;
  }

  #stuffH1 {
    font-size: 10vw;
  }

  #stuffH2 {
    font-size: 3vw;
    width: 65%;
  }

  #work {
    grid-area: work;
  }

  #workH1 {
    font-size: 10vw;
  }

  #workH2 {
    font-size: 3vw;
    width: 65%;
  }

  #contact {
    grid-area: contact;
    margin-bottom: 35%;
  }

  #contactH1 {
    font-size: 10vw;
  }

  #contactH2 {
    font-size: 3vw;
    width: 65%;
  }

  #navlist {
    display: none;
  }

  .App {
    text-align: center;
    grid-area: app;
    margin-left: 25%;
  }

  .App-header {
    background-color: #003d5b;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #edae49;
    margin: 1%;
    position: relative;
    overflow: hidden;
  }

  .HamburgerMenu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
  #root {
    display: fixed;
  }

  #logoHome {
    display: flex;
    float: right;
  }

  footer {
    font-size: 3vw;
    font-weight: 400;
    color: #71728d;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: 37%;
    line-height: 1.25;
    font-family: "Scope One", serif;
    width: 50%;
    margin-top: 50%;
  }

  .grid-container {
    align-items: center;
    display: grid;
    grid-template-areas:
      "app app nav nav nav"
      "content content content content content"
      "about about about about about"
      "stuff stuff stuff stuff stuff"
      "work work work work work"
      "contact contact contact contact contact";
  }
  .pane {
    margin: 1%;
    background-color: rgb(0, 61, 91, 0.98);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45%;
    z-index: 1;
    transition: transform 0.1s ease-out;
    border-radius: 10px;
  }

  .pane.open {
    transform: translateX(25%);
  }

  .pane-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .pane .close-menu .hamburger-react.is-active div {
    margin: 10px;
  }

  .close-menu {
    position: relative;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
  }

  .hidden {
    display: none;
  }

  .pane-content a {
    margin: 10px;
    font-size: 20px;
    color: #eff2f1;
    text-decoration: none;
  }

  #navlistPane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
}

@media screen and (max-width: 850px) and (min-width: 601px) {
  #sidebarLeft {
    display: none;
  }

  #sidebarRight {
    display: none;
  }

  #smallName {
    font-size: 3vw;
  }

  #name {
    font-size: 5vw;
  }

  #title {
    font-size: 5vw;
  }

  #jobDesc {
    font-size: 2vw;
    width: 75%;
  }

  .content {
    margin-top: 25%;
    grid-area: content;
  }

  #aboutMe {
    grid-area: about;
  }

  #aboutMeH1 {
    font-size: 10vw;
  }

  #aboutMeH2 {
    font-size: 3vw;
    width: 65%;
  }

  #stuff {
    grid-area: stuff;
  }

  #stuffH1 {
    font-size: 10vw;
  }

  #stuffH2 {
    font-size: 3vw;
    width: 65%;
  }

  #work {
    grid-area: work;
  }

  #workH1 {
    font-size: 10vw;
  }

  #workH2 {
    font-size: 3vw;
    width: 65%;
  }

  #contact {
    grid-area: contact;
    margin-bottom: 35%;
  }

  #contactH1 {
    font-size: 10vw;
  }

  #contactH2 {
    font-size: 3vw;
    width: 65%;
  }

  #navlist {
    display: none;
  }

  .App {
    text-align: center;
    grid-area: app;
    margin-left: 25%;
  }

  .App-header {
    background-color: #003d5b;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #edae49;
    margin: 1%;
    position: relative;
    overflow: hidden;
  }

  .HamburgerMenu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
  #root {
    display: fixed;
  }

  #logoHome {
    display: flex;
    float: right;
  }

  footer {
    font-size: 3vw;
    font-weight: 400;
    color: #71728d;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: 37%;
    line-height: 1.25;
    font-family: "Scope One", serif;
    width: 50%;
    margin-top: 50%;
  }

  .grid-container {
    align-items: center;
    display: grid;
    grid-template-areas:
      "app app nav nav nav"
      "content content content content content"
      "about about about about about"
      "stuff stuff stuff stuff stuff"
      "work work work work work"
      "contact contact contact contact contact";
  }
  .pane {
    margin: 1%;
    background-color: rgb(0, 61, 91, 0.98);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45%;
    z-index: 1;
    transition: transform 0.1s ease-out;
    border-radius: 10px;
  }

  .pane.open {
    transform: translateX(25%);
  }

  .pane-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .pane .close-menu .hamburger-react.is-active div {
    margin: 10px;
  }

  .close-menu {
    position: relative;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
  }

  .hidden {
    display: none;
  }

  .pane-content a {
    margin: 10px;
    font-size: 20px;
    color: #eff2f1;
    text-decoration: none;
  }

  #navlistPane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
}
